<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MeetRoom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div th:insert="~{parts/layout :: menu}" class="text-center mb-5"></div>

    <div class="container">
        <div class="bg-info clearfix mb-4">
            <form method="post" th:action="@{booking/prevWeek}">
                <button type="submit" class="btn btn-secondary float-left">Prev. week</button>
            </form>
            <button type="button" class="btn btn-primary float-center" data-toggle="modal" data-target="#exampleModal" data-whatever="Def">
                Add event
            </button>
            <form method="post" th:action="@{booking/nextWeek}">
                <button type="submit" class="btn btn-secondary float-right">Next week</button>
            </form>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row align-items-center mb-2 border-bottom mb-2">
            <div class="col border-left" th:each="day : ${daysOfWeek}">
                <div class="text align-middle" style="text-align: center" th:text="${day.getValue()}"></div>
                <div class="text align-middle" style="text-align: center" th:text="${day.getKey()}"></div>
           </div>
        </div>
        <div class="col border-right" style="width: 60px">
                <div class="row" th:each="hour : ${hoursOfDay}" style="height: max-content">
                        <div class="text" style="text-align: center; height: 80px" th:text="${hour}"></div>
                </div>
            </div>
        <div class="col">
            <div class="row" th:each="event : ${events}" style="height: max-content">
                <div class="text" style="text-align: center; height: 80px" th:text="${event.getTitle()}"></div>
                <div class="text" style="text-align: center; height: 80px" th:text="${event.getOwner()}"></div>
            </div>
        </div>
    </div>

    <div th:insert="~{parts/modal :: event-modal}"></div>

    <div th:insert="~{parts/layout :: footer}"></div>

    <div th:insert="~{parts/layout :: script}"></div>
</body>
</html>