<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MeetRoom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{layout :: menu}" class="text-center mb-5"></div>

    <div class="container-fluid">
        <div class="bg-info clearfix mb-4">
            <button type="button" class="btn btn-secondary float-left">Example Button floated left</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="Def">
                Launch static backdrop modal
            </button>
            <button type="button" class="btn btn-secondary float-right">Example Button floated right</button>
        </div>

        <div class="row align-items-center mb-2 border-bottom mb-2">
            <div class="col border-left" th:each="day : ${daysOfWeek}">
                <div class="text align-middle" style="text-align: center" th:text="${day}"></div>
           </div>
        </div>
        <div class="col border-right" style="width: 60px">
                <div class="row" th:each="hour : ${hoursOfDay}" style="height: max-content">
                        <div class="text" style="text-align: center; height: 80px" th:text="${hour}"></div>
                </div>
            </div>
        <div class="col">
            <div class="row" th:each="event : ${events}" style="height: max-content">
                <div class="text" style="text-align: center; height: 80px" th:text="${event.getTitle()}"></div>
                <div class="text" style="text-align: center; height: 80px" th:text="${event.getOwner()}"></div>
            </div>
        </div>
    </div>
<div th:insert="~{modal :: event-modal}"></div>

<div th:insert="~{layout :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>