<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MeetRoom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
     <div th:insert="~{parts/layout :: menu}" class="text-center mb-5"></div>

    <div class="container">
        <div class="text-center mb-3">
            <h3>Meeting room</h3>
        </div>

        <div class="row mb-3 justify-content-center">
            <div class="col">
                <form method="post" th:action="@{booking/prevWeek}">
                    <button type="submit" class="btn btn-secondary mt-3">Prev. week</button>
                </form>
            </div>
            <div class="col" th:each="day : ${daysOfWeek}">
                <div class="text-align-center" th:text="${day.getDayOfWeek()}"></div>
                <form method="post" th:action="@{booking/event}">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <input type="datetime-local" hidden="true" name="startDate" th:value="${day}">
                        <div th:text="${#temporals.format(day,'dd.MM.yyyy')}"></div>
                    </button>
                </form>
            </div>
            <div class="col">
                <form method="post" th:action="@{booking/nextWeek}">
                    <button type="submit" class="btn btn-secondary  mt-3">Next week</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="row justify-content-center" th:each="hour : ${hoursOfDay}" style="height: max-content">
                    <div style="height: 60px;" th:text="${hour}"></div>
                </div>
            </div>
            <div class="col" th:each="day : ${daysOfWeek}">
                <div th:each="event : ${events.get(day)}">
                    <div class="card text-white text-center bg-secondary"
                         th:style="position+':absolute;'+
                                   top+':'+${eventDurations.get(event.getId()).getStartInMinute()}+'px;'+
                                   height+':'+${eventDurations.get(event.getId()).getDurationInMinute()-2}+'px;'+width+':100%;'">
                        <div class="card-title">
                            <h7>Reserved by <span th:text="${event.getOwner().getUsername()}"></span></h7>
                            <a href="details.html" th:href="@{/booking/event/{id}(id=${event.id})}" class="btn btn-primary btn-sm">Get more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>


    <div th:insert="~{parts/layout :: footer}"></div>

    <div th:insert="~{parts/layout :: script}"></div>
</body>
</html>