<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MeetRoom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div th:insert="~{parts/layout :: menu}" class="text-center mb-5"></div>

    <div class="container">
        <div class="text-center mb-3">
            <h3>Event details</h3>
        </div>
        <div th:if="${param.error}" class="text-center mb-5">
            Can't delete the event!
        </div>
        <div class="row justify-content-center">
        <form method="post" th:action="@{{id}(id=${eventDto.getEventId()})}" th:object="${eventDto}">
            <div class="form-group row-fluid">
                <div class="alert-danger small text-center" th:if="${#fields.hasErrors('owner')}"
                     th:errors="*{owner}"></div>
            </div>
            <div class="form-group row">
                <input type="hidden" class="form-control" th:field="*{eventId}" readonly>
            </div>
            <div class="form-group row">
                <div th:for="owner" class="col-form-label col-sm-5">Owner</div>
                <div class="col-sm-7 mt-2">
                    <input type="hidden" class="form-control" th:field="*{owner}" readonly>
                    <span th:text="${eventDto.getOwner().getUsername()}"></span>
                </div>
                <div th:for="startDate" class="col-form-label col-sm-5">Reserved date</div>
                <div class="col-sm-7 mt-2">
                    <input type="hidden" class="form-control" th:field="*{startDate}" readonly>
                    <span th:text="${#temporals.format(eventDto.getStartDate(), 'dd.MM.yyy')}"></span>
                </div>
            </div>
            <div class="form-group row">
                <label th:for="title" class="col-form-label col-sm-5">Title</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" th:field="*{title}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label th:for="startTime" class="col-form-label col-sm-5">Start time</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" th:field="*{startTime}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label th:for="duration" class="col-form-label col-sm-5">Duration</label>
                <div class="col-sm">
                    <input type="text" class="form-control" th:field="*{duration}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label th:for="description" class="col-form-label col-sm-2">Description</label>
                <textarea class="form-control" th:field="*{description}" readonly></textarea>
            </div>
            <div class="form-group row justify-content-center align-self-center">
                <a th:href="@{/booking}">
                    <button type="button" class="btn btn-secondary mr-2">Cancel</button>
                </a>
                <button type="submit" class="btn btn-primary">Delete event</button>
            </div>
        </form>
        </div>
    </div>

    <div th:insert="~{parts/layout :: footer}"></div>

    <div th:insert="~{parts/layout :: script}"></div>

</body>
</html>