<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MeetRoom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div th:insert="~{parts/layout :: menu}" class="text-center mb-5"></div>

    <div class="container">
        <div class="text-center mb-3">
            <h3>New event</h3>
        </div>
        <div class="row justify-content-center">
        <form method="post" th:action="@{saveEvent}" th:object="${eventDto}">
            <div class="form-group row">
                <div for="startDate" class="col-form-label col-sm-5">Reserving date</div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" th:field="*{startDate}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="title" class="col-form-label col-sm-5">Title</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="title"
                           th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''"
                           placeholder="Insert title" th:field="*{title}">
                    <div class="alert-danger small" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="startTime" class="col-form-label col-sm-5">Start time</label>
                <div class="col-sm-7">
                    <input type="text" class="mask-time form-control" id="startTime"
                           th:classappend="${#fields.hasErrors('startTime')} ? 'is-invalid' : ''"
                           pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$" minlength="5" maxlength="5"
                           placeholder="__:__" th:field="*{startTime}">
                    <div class="alert-danger small" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="duration" class="col-form-label col-sm-5">Duration</label>
                <div class="col-sm">
                    <input type="text" class="form-control" id="duration"
                           th:classappend="${#fields.hasErrors('duration')} ? 'is-invalid' : ''"
                           pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$" minlength="5" maxlength="5"
                           placeholder="__:__" th:field="*{duration}">
                    <div class="alert-danger small" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-form-label col-sm-2">Description</label>
                <textarea class="form-control" id="description" th:field="*{description}"
                          th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"></textarea>
                <div class="alert-danger small" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>
            <div class="form-group row justify-content-center align-self-center">
                <a th:href="@{/booking}">
                    <button type="button" class="btn btn-secondary mr-2">Cancel</button>
                </a>
                <button type="submit" class="btn btn-primary">Save event</button>
            </div>
        </form>
        </div>
    </div>

    <div th:insert="~{parts/layout :: footer}"></div>

    <div th:insert="~{parts/layout :: script}"></div>

    <script th:inline="javascript">
        $(document).ready(function(){
            $('#startTime').mask('00:00');
            $('#duration').mask('00:00');
         });
     </script>
</body>
</html>