<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MeetRoom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div th:insert="~{parts/layout :: menu}" class="text-center mb-5"></div>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>First name</th>
                <th>Second name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.secondName}"></td>
            </tr>
            </tbody>
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </table>
    </div>

    <div th:insert="~{parts/layout :: footer}"></div>

    <div th:insert="~{parts/layout :: script}"></div>

</body>
</html>